.column {
  flex-direction: column;
}

.row {
  flex-direction: row;
}

body {
  margin: 0;
  padding: 0;
  background-color: #f0ead6;
}

#root {
  padding: 0;
  margin: 0;
  font-size: 14px;
  min-height: 100vh;
  display: flex;
  justify-content: center;
}

pre code {
  font-size: 14px;
  width: 80vw;
}

nav a {
  text-decoration: none;
}

#content {
  width: 80%;
  font-size: 14px;
}

ul {
  list-style-type: none;
  padding-left: 0px;
  margin-left: 0px;
}

nav {
  display: flex;
}

nav ul {
  margin-left: 0;
  padding-left: 0;
}

nav.horizontal ul {
  display: flex;
  justify-content: space-between;
  min-width: 175px;
}

a {
  color: #779fa1;
}

/* Only for small screens */
@media screen and (max-width: 500px) {
  #content {
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .post {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  pre code {
    overflow-x: scroll;
    font-size: 11px;
    width: 90vw;
  }

  hr {
    width: 100%;
  }

  .post {
    align-items: center;
  }

  .post p,
  .post ul {
    align-self: start;
  }

  .post h1,
  .post h2 {
    text-align: center;
  }
}
